#shibboleth-discovery {
	margin: none;
	padding: none;
}

#shibboleth-discovery * {
	font-family: sans-serif;
	font-weight: normal;
	line-height: 100%;
}

#shibboleth-discovery h3 {
	font-size: 125%;
	font-weight: normal;
}

#shibboleth-discovery h3 b {
	font-weight: bold;
}

#shibboleth-discovery br {
	clear: left;
}

#shibboleth-discovery a.shibboleth-discovery-button {
	display: block;
	float: left;
	width: 20ex;
	height: 13.5ex;
	margin: 0em 1em 1em 0em;
	padding: .5ex 1ex 1ex 1ex;
	border: 1px solid #eee;
	background-color: #fff;
	color: black;
	text-decoration: none;
	overflow: hidden;
	box-sizing: content-box;
	border-radius: .4em;
}

#shibboleth-discovery a.shibboleth-discovery-button:hover {
	border: 1px solid #ccc;
	background-color: #eee;
	overflow: visible;
}

#shibboleth-discovery a.shibboleth-discovery-button img {
	display: block;
	height: 10ex;
	width: 20ex;
	margin-bottom: .5ex;
	border: none;
}

#shibboleth-discovery a.shibboleth-discovery-button p {
	text-align: center;
	margin: 0 auto;
	white-space: normal;
}

#shibboleth-discovery a#shibboleth-discovery-others {
	width: 14.4em;
}

#shibboleth-discovery a#shibboleth-discovery-others img {
	width: 14.4em;
	height: 5.4em;
}

#shibboleth-discovery #shibboleth-discovery-search {
	display: block;
	width: 90%;
	margin: .5em 1em 1em 0em;
}
